#title {
    text-align: center;
    color: darkblue;
}

form {
    width: 400px;
    margin: 0 auto;
}

input,
textarea {
    padding: 10px;
    box-sizing: border-box;
}

::placeholder {
    color: lightgray;
    font-style: italic;
}

button[type="submit"]:hover {
    cursor: pointer;
}

td,
th {
    border: 1px solid black;
    padding: 8px;
}

thead {
    background-color: lightgray;
}

table {
    border-collapse: collapse;
    margin-top: 20px;
}
